.landing.aboutPage {
    background: url(/media/images/twitter_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul.expertGroup {
    width: 100%;
    margin-left: auto;
    padding-top: 28px;
    @media screen and (min-width: 450px) and (max-width: 600px) {
        width: 90%
    }
    @media screen and (min-width: 600px) and (max-width: 650px) {
        width: 80%;
    }
    @media screen and (min-width: 650px) {
        width: 75%;
    }
    & > li {
        width: 100%;
        div.profilePic {
            height: 100px;
            float: left;
            @include profilePic('gareth', 'simon', 'sue', 'joanne', 'marianne', 'robert');
        }
        div.profile {
            padding-left: 14px;
            float: left;
            width: 60%;
            @media screen and (min-width: 650px) {
                width: 70%;
                padding-left: 46px;
            }
            & > p.name {
                font-weight: 700;
                margin-bottom: 0;
                margin-top: 14px;
            }
            & > p.uni {
                font-size: $desktopFont * 0.9;
                margin-bottom: 56px;
            }
        }
    }
}



div.section.ack {
    margin-top: 140px;
}

div.section.tweets {
    padding: 0;
}

ul.acknowledgements {
    padding-top: 28px;
    & li {
        align-content: center;
        margin-left: auto;
        width: 70%;
        @media screen and (min-width: 600px) {
            display: inline-block;
            width: 40%;
            padding-left: 9%;
        }
        & > div.profile {
            & > p.name {
                font-weight: 700;
                margin-bottom: 0;
                margin-top: 14px;
            }
            & > p.uni {
                font-size: $desktopFont * 0.9;
                margin-bottom: 42px;
            }
        }
    }
}

div.wide.supportLogos {
    margin-top: 140px;
    & > h2 {
        clear: both;
    }
    & > .logos {
        padding-top: 28px;
        @media screen and (min-width: 1000px) {
            text-align: center;
        }
            & .logo {
            height: 150px;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            @include orgLogos('swanseaUni', 'southWalesUni', 'cardiffMetUni', 'glyndwrUni', 'sportWales');
            @media screen and (min-width: 970px) and (max-width: 1200px) {
                display: inline-block;
                margin: 10px 20px;
            }
            @media screen and (min-width: 1200px) {
                margin: 10px 40px;
                display: inline-block;
            }    
        } 
    }
}

div.twitterFeed {
    padding-top: 28px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

